# Step One: Open an interactive Python session

**Introduction**

This is a common question presented on many Stata related discussion lists. Of all the occurances, [Stackoverflow](https://stackoverflow.com/questions/2536047/convert-stata-dta-file-to-csv-without-stata-software) has one of the best set of responses.

**Option A, Install Python**

If you have not already installed Python it is not difficult to do so. The official [Python](https://www.python.org/) website is your best place to start.

**Option B, Go over to the *Try Jupyter* site**

If you do not have, and do not want to install Pythin, there is another option: Located here: [Try Jupyter](http://jupyter.org/try) option at http://jupyter.org/try. (Click on the "Try Jupyter with Python" link).

# Step Two : Import Pandas

In [1]:
import pandas as pd

# Step Three: Open your dta file.
When using hub the [Try Jupyter](http://jupyter.org/try) option at http://jupyter.org/try, consider depositing your dta file at an accessible http location so that it can be accessed online.

In [2]:
cfile = pd.read_stata('http://www.stata-press.com/data/r15/auto2.dta')

# Step Four: Display the data frame.
After display you can check your results. If working on a local computer you can [export to xls, csv,](https://github.com/adamrossnelson/StataQuickReference/blob/master/dtaconversion/ConvertDtaToXls.ipynb) etc.

However, if you are using [Try Jupyter](http://jupyter.org/try) option at http://jupyter.org/try you will have to copy and paste the results to another application.

Also, if forced to use a copy paste option the `pd.set_option('display.max_rows', 1000)` might be of interest. Modify the number of max rows to fit your use case.

In [8]:
# pd.set_option('display.max_rows', 1000)
cfile

,make,price,mpg,rep78,headroom,trunk,weight,length,turn,displacement,gear_ratio,foreign
0,AMC Concord,4099,22,Average,2.5,11,2930,186,40,121,3.58,Domestic
1,AMC Pacer,4749,17,Average,3.0,11,3350,173,40,258,2.53,Domestic
2,AMC Spirit,3799,22,NaN,3.0,12,2640,168,35,121,3.08,Domestic
3,Buick Century,4816,20,Average,4.5,16,3250,196,40,196,2.93,Domestic
4,Buick Electra,7827,15,Good,4.0,20,4080,222,43,350,2.41,Domestic
5,Buick LeSabre,5788,18,Average,4.0,21,3670,218,43,231,2.73,Domestic
6,Buick Opel,4453,26,NaN,3.0,10,2230,170,34,304,2.87,Domestic
7,Buick Regal,5189,20,Average,2.0,16,3280,200,42,196,2.93,Domestic
8,Buick Riviera,10372,16,Average,3.5,17,3880,207,43,231,2.93,Domestic
9,Buick Skylark,4082,19,Average,3.5,13,3400,200,42,231,3.08,Domestic
...,...,...,...,...,...,...,...,...,...,...,...,...
64,Renault Le Car,3895,26,Average,3.0,10,1830,142,34,79,3.72,Foreign
65,Subaru,3798,35,Excellent,2.5,11,2050,164,36,97,3.81,Foreign
66,Toyota Celica,5899,18,Excellent,2.5,14,2410,174,36,134,3.06,Foreign
67,Toyota Corolla,3748,31,Excellent,3.0,9,2200,165,35,97,3.21,Foreign
68,Toyota Corona,5719,18,Excellent,2.0,11,2670,175,36,134,3.05,Foreign
69,VW Dasher,7140,23,Good,2.5,12,2160,172,36,97,3.74,Foreign
70,VW Diesel,5397,41,Excellent,3.0,15,2040,155,35,90,3.78,Foreign
71,VW Rabbit,4697,25,Good,3.0,15,1930,155,35,89,3.78,Foreign
72,VW Scirocco,6850,25,Good,2.0,16,1990,156,36,97,3.78,Foreign
73,Volvo 260,11995,17,Excellent,2.5,14,3170,193,37,163,2.98,Foreign